<h3 style="text-align: center;">Consulta Pública da Política Municipal de Alimentação e Nutrição da cidade do Rio de Janeiro</h3>
<div class="introducao">
	<p>A cidade do Rio de Janeiro está formulando a sua Política Municipal de Alimentação e Nutrição (PMAN) e o Instituto de Nutrição Annes Dias, da Secretaria Municipal de Saúde e Defesa Civil(INAD/SMSDC), em parceria com o Instituto de Nutrição da Universidade do Estado do Rio de Janeiro (INU/UERJ), vem conduzindo a sua construção. Este processo tem envolvido diversos atores e instituições governamentais e não-governamentais, além de instâncias de controle social da Prefeitura da Cidade do Rio de Janeiro.</p>
	<p>Com o intuito de garantir a transparência e a participação social, estamos iniciando o período de realização da consulta pública, com vistas a coletar contribuições que subsidiem a elaboração do texto final da PMAN, tanto de setores especializados quanto da sociedade em geral, possibilitando ampla discussão. Gostaríamos de convidá-lo para colaborar com este importante processo de construção coletiva. As sugestões poderão ser feitas por meio de plataforma até às 24h do dia 26 de outubro de 2011.</p>
	<h4>Orientações</h4>
	<p>Para obter a íntegra do anteprojeto da PMAN <a href="/download_pdf_pman">clique aqui</a>. Sugerimos a leitura deste material para compreender os objetivos e como está estruturada a PMAN.</p>
	<% if !user_signed_in? %>	
	<p>Para realizar contribuições é necessário se cadastrar na plataforma e fazer o login. <%= link_to "Clique aqui", join_path %> para fazer o seu cadastro.</p>
	<% end %>
	<p>Em algumas seções há letras minúsculas e números entre colchetes. As letras são notas ao texto e os números são as entradas das referências bibliográficas. Tanto as notas como as referências estão reunidas em um arquivo próprio.</p>
	<p>Agradecemos a sua participação. Suas opiniões serão muito bem-vindas!</p>
	<h4>Alimentação saudável – um direito humano</h4>
</div>