.introducao{
	padding-left: 30px;
	margin-right: 60px;
}
.introducao p{
	text-align: justify;
}
.hmenu{
	font-size: 20px;
	margin-top: 10px; 
	padding-left: 490px;
	list-style: none outside none;
}
.hmenu li{
	display: inline;
	padding-right: 15px;
}