html body{font: Calibri, Helvetica, sans-serif;}
html>body{font: Calibri, Helvetica, sans-serif;}

.introducao{
	padding-left: 30px;
	margin-right: 60px;
}
.introducao p{
	text-align: justify;
}
.hmenu{
	font-size: 20px;
	margin-top: 10px; 
	padding-left: 490px;
	list-style: none outside none;
}
.hmenu li{
	display: inline;
	padding-right: 15px;
}
.lista-consulta{
	list-style: none outside none;	
}

table.sample {
	border-width: 2px;
	border-spacing: 2px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: white;
}
table.sample th {
	border-width: 2px;
	padding: 1px;
	border-style: inset;
	border-color: black;
	-moz-border-radius: ;
}

table.sample thead{
	background-color: #999;
}

table.sample td {
	border-width: 2px;
	padding: 5px;
	border-style: inset;
	border-color: black;
	-moz-border-radius: ;
}

.rodape{
	text-align: center;
}

.rodape p{
	margin: 0 0 0 0;
}