<p>Baixar todas as diretrizes <a href="/download_pdf">clique</a>.</p>
<div id="box-lista-consulta">
  <table class="sample">
	<colgroup>
		<col width="600">
	</colgroup>	
	<thead>
		<tr valign="TOP">
			<td colspan="2">
				<p align="CENTER" style="font-style: normal"><font face="Arial, sans-serif"><b>Diretriz</b></font></p>
			</td>
		</tr>
	</thead>
	<tbody>
    <% @diretrizes.each do |diretriz| %>
      <tr>
		<td>
        	<p class="resumo"><%= diretriz.titulo %></p>
		</td>
		<td>
        <%=
        if user_signed_in?
          link_to "Contribuir", diretrize_path(diretriz)
        end
      	%>
		</td>
      </tr>
    <% end %>
	</tbody>
  </table>
</div>